<style>
  .btn-search {
    background-color: #14b8a6; /* TripNest Teal */
    color: #fff;
    border-radius: 20px;
    padding: 0.4rem 1rem;
    font-weight: 500;
    transition: 0.2s ease-in-out;
  }

  .btn-search:hover {
    background-color: #0d9488; /* Darker Teal */
    color: #fff;
  }

  .search {
    border-radius: 20px;
    padding: 0.4rem 1rem;
    font-size: 0.95rem;
  }

  .navbar-brand {
    font-weight: bold;
    color: #14b8a6 !important;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  .navbar-brand i {
    margin-right: 5px;
    color: #14b8a6;
  }

  .nav-link {
    font-weight: 500;
    margin-left: 0.5rem;
  }

  .nav-link:hover {
    color: #14b8a6 !important;
  }
</style>

<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i> TripNest
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <!-- Search -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings/search" method="GET">
          <input class="form-control me-2 search" name="q" type="search" placeholder="Search destinations">
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>

      <!-- User Nav -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Host your space</a>
        <% if (!currentUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Sign in</b></a>
        <% } %>
        <% if (currentUser) { %>
          <a class="nav-link" href="/logout"><b>Sign out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
