<style>
  .navbar {
    background-color: #ffffff !important;
    /* White background */
    border-bottom: 1px solid #e5e5e5;
  }

  .navbar-brand {
    color: #fe424d !important;
    /* Airbnb red */
    font-weight: bold;
    font-size: 1.3rem;
  }

  .navbar-brand:hover {
    color: #d93c45 !important;
  }

  .nav-link {
    color: #333 !important;
    /* Dark gray text */
    font-weight: 500;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .nav-link:hover {
    color: #fe424d !important;
    /* Red hover */
  }

  .btn-search {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    /* space between icon and text */
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
  }

  .btn-search:hover {
    background-color: #d93c45;
    color: #fff;
  }

  .btn-search i {
    margin: 0;
    /* remove extra margin */
    font-size: 1rem;
  }


  .search {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    border: 1px solid #ccc;
  }
</style>


<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i> TripNest
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Search -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings/search" method="GET">
          <input class="form-control me-2 search" name="q" type="search" placeholder="Search destinations">
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>

      <!-- User Nav -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Host your space</a>
        <% if (!currentUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Sign in</b></a>
          <% } %>
            <% if (currentUser) { %>
              <a class="nav-link" href="/logout"><b>Sign out</b></a>
              <% } %>
      </div>
    </div>
  </div>
</nav>